html {
  height: 100vh;
  min-width: 600px;
  background-image: linear-gradient(140deg, white, rgb(224, 145, 202));
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.main {
  padding: 20px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}

input[type="text"] {
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1rem;
  flex-grow: 1;
}

button.add {
  font-size: 1.5rem;
}

.link {
  font-size: 1.5rem;
  background: none;
  border: none;
}

.delete {
  font-size: 1rem;
}

.modal {
  display: none;
  background-color: white;
  width: 400px;
  height: 250px;
  position: absolute;
  border-radius: 5px;
  border-color: black;
}
